<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme ">


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
      <a routerLink="" href="/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <li class="menu-item active open">
      <a href="javascript:void(0);" class="menu-link "><!--menu-toggle-->
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="Account Settings">Account Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item active" #sideAccount (click)="getClassSideBar(sideAccount.classList,sideConnection.classList)">
          <a routerLink="/myaccount" href="/myaccount" class="menu-link">
            <div data-i18n="Account">Account</div>
          </a>
        </li>

        <li class="menu-item " #sideConnection (click)="getClassSideBar(sideAccount.classList,sideConnection.classList)">
          <a href="/myconnections" routerLink="/myconnections" class="menu-link">
            <div data-i18n="Connections">Connections</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Layouts -->
  </ul>




</aside>

