<div>
  <h2 class="text-center m-2">Exam Instructions</h2>
  <hr>

  <div class="card " style="margin-top:2% ;">
    <div class="card-body row" >

      <p class="card-header col-8 text-simple"  >Please Read All the Instruction Carefully</p>
    </div>
    <hr>
    <div class="card-body m-2">
      <h5>Important Instruction</h5>



    </div>
  </div>
  <div class="divider">
    <a class="btn btn-primary m-2 border-purple color-white text-center" routerLink="/admin/startQuiz" >Start the Exam</a>

  </div>
</div>
